﻿@model AreaRingSector.Web.Models.AreaRingSectorViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center main-cont">
    <h1 class="display-5" style="padding-bottom: 5%">Площадь сектора кольца</h1>
    <form asp-action="Index" asp-controller="AreaRingSector" method="post" class="form-cont">
        <div class="field-group" style="padding-bottom: 3%; font-size: 22px">
            <label asp-for="radius_big" for="Radius_big" class="label_Rb">Введите больший радиус</label>
            <input asp-for="radius_big" name="Radius_big" class="input_Rb" type="text" value="@Model.radius_big" placeholder="Радиус больше нуля" required>
        </div>
        <div class="field-group" style="padding-bottom: 3%; font-size: 22px">
            <label asp-for="radius_small" for="Radius_small" class="label_Rs">Введите меньший радиус</label>
            <input asp-for="radius_small" name="Radius_small" class="input_Rs" type="text" value="@Model.radius_small" placeholder="Радиус больше нуля" required>
        </div>
        <div class="field-group" style="padding-bottom: 5%; font-size: 22px">
            <label asp-for="angle" for="Angle" class="label_An">Введите угол</label>
            <input asp-for="angle" name="Angle" class="input_An" type="text" value="@Model.angle" placeholder="Угол от 0 до 360" required>
        </div>
        <div class="field-group" style="font-size: 22px;">
            <label asp-for="result" for="Result" class="label_res">Площадь сектора круга</label>
            <input asp-for="result" name="Result" class="input_res" type="text" value="@Model.result" readonly>
        </div>
        <p class="message">@Model.report</p>
        <div class="wrapper">
            <button type="submit" style="border: 2px solid green; border-radius: 4px; font-size: 22px">Рассчитать</button>
        </div>
    </form>
</div>
